/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px; /* definir uma font-size padrão */
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
    width: 100%;
}

/* define o tamanho da caixa */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

/* --- BOTAO --- */

.btn {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.8rem;
}

.btn_roxo {
    color: white;
    background-color: #C083B9;
    display: block;
    max-width: 250px;
    text-align: center;
    transition: all .5s;
    margin: 0 auto;
}

.btn_roxo:hover,
.btn_roxo:focus {
    transform: translateY(-1rem);
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    background-color: rgb(192, 156, 188);
}

.btn_roxo:active {
    transform: translateY(-.5rem);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.btn_center {
    margin: 0 auto;
}

/* --- NAV --- */
.navegacao {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
}

.navegacao__logo {
    max-width: 200px;
    
}

.navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao__itens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: -700px;
    text-align: center;
    padding: 3rem 0;
    transition: right 1s;
    background-color: #674582;
}

.navegacao__itens.ativo {
    display: block;
    right: 0;
    top: 85px;
    width: 100%;
    background-color: #674582;
    text-align: center;
    padding: 3rem 0;
    transition: right 1s;
}

.navegacao__itens li > a {
    transition: all .2s;
}

.navegacao__itens li > a:hover {
    color: #C083B9;
}

.navegacao__nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.navegacao__nav {
    margin-right: 2rem;
}

.navegacao__nav li {
    font-size: 1.5rem;
    margin: 1rem;
}

.navegacao__redes-sociais a {
    margin: 0 1rem;
}


.navegacao__menu-hamburguer {
    display: none;
}

/*----------CABEÇALHO*----------------*/


.cabecalho {
    background: linear-gradient(
        rgba(103, 69, 130, 0.56), 
        rgba(103, 69, 130, 0.56)
      ),url("../img/janis_joplin_banner.jpg");
    min-height: 80vh;
    padding-top: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    opacity: 0.8;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    
}

.cabecalho h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 88%;
    font-size: 60px;   

}

/* ---------- INTRO ------------- */

.intro {
    margin: 0 auto;
    width: 60%;
    color: #63458a;
}

.intro__flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
   
}

.intro__flex-container h3 {
    font-size: 30px;
}

.intro__conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.intro__img {
    width: 250px;
    border-radius: 10px;
}

.intro__conteudo p {
    margin-right: 225px;
    font-size: 20px;
    width: 50%;
    text-align: left;
    line-height: 1.4;
}

.intro__quote {
    border: 1px solid #63458a;
    padding: 50px;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    margin-top: 35px;
    font-size: 20px;
    text-align: center;

}