* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif; 
}



li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* .container {
    width: 960px;
    margin: 0 auto;
} */

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #674582;
    text-transform: uppercase;
    width: 100%;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 99;
}

/* .menu {
    display: flex;
}

.rede__sociais {
    display: flex;
    justify-content: space-around;

} */