* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px; /* definir uma font-size padrão */
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}

nav, main, footer {
    border: 2px solid black;
}


.container {
    margin: 0 auto;
    width: 900px;

}
.navegacao {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
}

.navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao__logo {
    max-width: 200px;
}

.img-responsive {
    width: 100%;
}
/* duvida ------------------div */
.navegacao__itens {
    border: 2px black solid;
    width: 600px;
    display: flex;
    justify-content: center;
}

.navegacao__nav {
    width: 260px;
    display: flex;
    flex-direction: row;
}

/* .navegacao__nav > a {
    margin-left: 40px;
} */
.navegacao__redes-sociais a {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.navegacao__redes-sociais {
    display: flex;
    justify-content: center;
    width: 250px;
}

.banner {
    background: url(../../img/Clementina-de-Jesus-Blog-Jornal-do-Brasil.jpg);
}
.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
