* {
    box-sizing: border-box;
}


html {
    font-size: 10px; /* definir uma font-size padrão */
}


body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}


a {
    text-decoration: none;
    color: inherit;
}


ul {
    padding: 0;
}

h5{
    width: 56%;
    margin: 0 auto;
}


li {
    list-style: none;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
    width: 100%;
}

/* define o tamanho da caixa */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 959px;
}


.navegacao {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
}

.navegacao__logo {
    max-width: 200px;
}


.nav__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navegacao__itens {
    position: absolute;
    right: -700px;
    top: 85px;
    width: 100%;
    background-color: #674582;
    text-align: center;
    padding: 3rem 0;
    transition: right 1s;
}


.navegacao__nav ul{
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.navegacao__nav li{
    margin-right: 10px; 
    font-size: 1.2rem; 
}


.navegacao__redes-sociais a {
    margin: 0 1rem;
}


.header {
    min-height: 80vh;
    height: 500px;
    background: linear-gradient(rgba(255, 0, 255, 0.2),
                                rgba(255, 0, 255, 0.2)),
                url(../img/bg-banner-claro.png);
    background-size: cover;
    background-position: center 14%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 11rem 2rem 5rem 2rem;
    color: white;
}

.sobre__autora {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
}

h1{
    font-size: 30px; 
}

.apresentacao{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center; 
    padding-left: 15%;
}

.apresentacao__texto{
    margin-left: -10%;
    color: #674582;
}

.apresentacao__autora{
    font-size: 25px;
    text-align: left;
    margin-left: 18%;
}


.img__autora{
    max-width: 19%;
    margin:0 auto; 
    padding: 80px 0;
}

h4 p{
    text-align: Left;
    font-size: 20px; 
}


h3{
    width: 55%;
    margin-left: 18%;
    font-size: 15px;
    text-align: left;
}

.redes__autora{
    display: flex; 
    margin: 0 auto; 
    text-align: center; 
}

.container__autora{
    width: 60%; 
    max-width: 953px;
    display: flex;
    justify-content: space-evenly;
}

.historia__maravilhosa{
    width: 100%
}
.img__historia{
    max-width: 100%;
    width:100%; 
}

.icones__redes{
    margin-left:-39%;
}


hr {
    width: 73px;
    border: 2px solid #674582; 
}

.historia__maravilhosa{
    margin-top: 50px; 
    text-align: center;   
     
}


.intro_historia{
    font-weight: bold;
    color: #674582; 
    padding: 1rem;
    font-size: 1.7rem;
}


.historia__1{
    color: #674582; 
    padding: 1rem;
    font-size: 17px;
    text-align: left;
}

.maravilhosas__foto{
    width:50%;
    background-color: #674582;
    border-radius:2%
}

.outras__maravilhosas{
    text-align: center;
    color: #674582;
    padding-bottom: 5%;
    width: 80%;
    margin: 0 auto; 
}


.caixinhas{
  display:flex; 
  align-items:  center;
  justify-content: space-around; 
}



h5{
    font-size: 20px; 
    padding: 4%; 
}


.btn__home{
    padding: 4% 39%;
}


button{
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.8rem;
}


.btn_roxo {
    color: white;
    background-color: #C083B9;
    display: block;
    max-width: 250px;
    text-align: center;
    transition: all .5s;
    margin: 0 auto;
}

/* --- FOOTER --- */
.rodape {
    background-color: #323534;
    color: white;
    font-size: .9rem;
    align-items: center;
    padding-top: .8rem;
}


.rodape__principal {
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.5rem 0;
}


.rodape__principal > * {
    margin: 1rem 0;
}


.rodape__logo img {
    max-width: 250px;
}


.rodape__navegacao > li {
    font-size: 1.5rem;;
}

.rodape__navegacao > li {
    font-size: 1.1rem;
    margin: 1rem;
}


.rodape__navegacao a {
    transition: all .5s;
}


.rodape__navegacao a:hover {
    color: #C083B9;
}


.rodape__logo {
    max-width: 200px;
}


.rodape__redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}


.rodape__redes-sociais a:hover {
    color: #C083B9;
}


.rodape__redes-sociais img {
    max-width: 10px;
    margin-right: .5rem;
}


.rodape__redes-sociais span {
    display: flex;
    font-size: 1.5rem;
}


.rodape__cc {
    width: 100%;
    background-color: #292A2A;
    font-size: 1rem;
    flex-direction: row;
    opacity: 0.5;
    text-align: center;
    padding: 1rem 0;
}

@media (min-width: 768px) {
     
    .navegacao__itens {
        position: static;
        display: flex;
        padding: 0;
        width: auto;
    }
    .navegacao__menu-hamburguer {
        display: none;
    }
  
}
    

@media(max-width: 768px){
    .icones__redes{
        margin-left:-25%; 
    }
    .apresentacao{
        flex-direction: column; 
        padding-left: 0; 
    }
    .img__autora {
        max-width: 84%;
        margin: 0 auto;
        padding: 29px 0px;
    }
    .rodape__principal{
        flex-direction: column;
    }
    .maravilhosas__foto{
        width: 80%;
        color: #674582;
        margin:0;  
    }
}

