* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html {
    font-size: 10px; /* definir uma font-size padrão */
  }
  
  body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    font-style: normal;
    font-weight: normal;
  
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* ul {
    padding: 0;
    display: flex;
  } */
  
  li {
    list-style: none;
  }
  
  /* define que as imagens tem que ter o tamanho máximo da div mãe */
  .img-responsive {
    width: 100%;
  }
  
  /* define o tamanho da caixa */
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
  
  /* --- BOTAO --- */
  
  .btn {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 10px;
  }
  
  .btn_roxo {
    color: white;
    background-color: #c083b9;
    display: block;
    max-width: 250px;
    text-align: center;
    transition: all 0.5s;
    margin: 0 auto;
  }
  
  .btn_roxo:hover,
  .btn_roxo:focus {
    transform: translateY(-1rem);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(192, 156, 188);
  }
  
  .btn_roxo:active {
    transform: translateY(-0.5rem);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .btn_center {
    margin: 0 auto;
  }



/* --- NAV --- */
.navegacao {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .navegacao__logo {
    max-width: 200px;
  }
  
  .navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navegacao__itens {
    position: relative;
    width: 100%;
    background-color: #674582;
    text-align: center;
  }
  
  
  .navegacao__itens ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      text-align: center;
  }
  
  .navegacao__itens.ativo {
    display: block;
    right: 0;
    top: 85px;
    width: 100%;
    background-color: #674582;
    text-align: center;
    padding: 3rem 0;
    transition: right 1s;
  }
  
  .navegacao__itens li > a {
    transition: all 0.2s;
  }
  
  .navegacao__itens li > a:hover {
    color: #c083b9;
  }
  
  .navegacao__nav{
  margin-left: 260px;
  }
  
  .navegacao__nav ul {
    font-size: 1.2rem;
    margin: 3px;
    padding: 0;
    display: flex;
  
  }
  
  .navegacao__nav li{
    padding:  5px;
  }
  
  .navegacao__redes-sociais a {
    margin: 0 1rem;
  }

  .hamburger {
    display: none;
}
  /* --- HEADER --- */
.header {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../img/bg-banner-claro.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.principal__titulo {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  color: rgb(253, 253, 253);
  display: flex;
  justify-content: center;
  bottom: 50px;
  margin-top: 400px;

}

.conteudo__container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.conteudo__foto {
  height: 200px;
  width: 180px;
}

.conteudo__titulo{
padding: 30px;
display: flex;
justify-content: center;
color:#674582;
font-size: 18px;
}
.conteudo__artigo{
color: #674582;
font-size: 16px;
line-height: normal;
text-align: justify;
padding: 5%;
}

.nise{
  font-weight: bold;
}

.redes{
  font-weight: bold;
}

.destination__border {
  border: 1px solid #63458A;
  width: 30%;
  display: flex;
  margin-left: 35%;
  margin-top: 2%;
}

.container__historia {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.titulo__historia {
  
    display: flex;
    justify-content: center;
    color:#674582;
    font-size: 18px;
    padding: 5%;

}

.img__historia {
  width: 100%;
 
}

.conteudo__historia {
  color: #674582;
  font-size: 16px;
  line-height: normal;
  text-align: start;
  padding: 25px;
}

.container__img{
  width: 10%;
  height: 75%;
  background-color: #63458A;
  border-radius: 10%;

}
.container__maravilhosa {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
}
.img__maravilhosa{
  width: 100%;
}

.legenda{
  color: #674582;
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 75%;
}

.btn__container {
  width: 100%;
  padding: 7%;

}

/* --- RODAPE --- */
.rodape {
    background-color: #323534;
    color: white;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .rodape__principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0;
  }
  
  .rodape__navegacao li{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .rodape__redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
  }
  
  .rodape__logo img {
    max-width: 250px;
  }
  .rodape__cc {
    width: 100%;
    background-color: #292A2A;
    font-size: 1rem;
    opacity: 0.5;
    text-align: center;
  }
  
  .img__fb{
    width: 10px;
  }
  
  /*RESPONSIVO */
  @media (max-width: 1024px){

    .header{
      width: 100%;
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
  .navegacao__nav{
    display: none;
  }
  
  .navegacao__redes-sociais{
    display: none;
  }
  
  .hamburger{
    display: flex;
    height: 30px;
  }
  
  .conteudo__container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .conteudo__foto{
    display: flex;
    justify-content: center;
  }

  .container__historia {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

  .container__maravilhosa {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 120px;
}

.container__img {
  width: 10%;
  height: 45%;
  background-color: #63458A;
  border-radius: 10%;
}

.btn__container{
  padding: 20%;
}
  
  }