* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

li {
    list-style-type: none; 
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h3 {
    margin-bottom: 45px;
}

.container {
    margin: 0 auto;
    max-width: 79.16%;
}

.dflex {
    display: flex;
    align-items: center;
}

/* **** navegacao **** */

.navegacao {
    background-color: #674582;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    position: fixed;
    z-index: 99;
    top: 0;
    
}

.logo {
    width: 200px;
}

.navegacao__elementos {
    justify-content: space-between;
}

.navegacao__menu {
    justify-content: space-around;
    width: 55%;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.navegacao__redes-sociais a {
    padding: 0 5px;
}

.navegacao__menu-hamburguer {
    display: none;
}

/* @media (max-width: 768px) {
    .navegacao__menu-hamburguer {
        display: inline-block;
    }

    .navegacao__redes-sociais {
        display: none;
    }
  
} */

/* **** banner **** */

.banner {
    background: linear-gradient(rgba(103, 69, 130, 0.56), rgba(103, 69, 130, 0.56)), url(../img/rachel-maia-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 80vh; */
    height: 400px;
    margin-top: 79px;
    display: flex;
    align-items: flex-end;
}

.banner__titulo {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 15px;
    /* padding-top: 330px; */
    font-size: 2.5rem;
    color: #ffffff;
}

/* **** conteudo **** */

.conteudo {
    color: #674582;
}

.foto {
    width: 200px;
}

/* **** conteudo__perfil **** */

.conteudo__perfil {
    margin: 40px 0;
}

.conteudo__perfil > img {
    border-radius: 10px;
}

.paragrafo {
    width: 60%;
    margin: 0 45px;
}

/* **** conteudo__citacao **** */

.conteudo__citacao {
    border: 1px solid #674582;
    padding: 50px;
    line-height: 40px;
    font-size: 14px;
    color: #674582;
    margin-bottom: 45px;
}

/* **** conteudo__historia **** */

.conteudo__historia-imagem {
    background: url(../img/rachel-maia-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    height: 350px;
    margin: 40px 0;
}

/* **** conteudo__autora **** */

.conteudo__autora {
    width: 100%;
    background-color: #e4b7e5;
    margin: 45px 0;
}

.conteudo__autora-container {
    width: 550px;
}

.conteudo__autora-paragrafo {
    font-weight: bold;
    color: #674582;
    text-align: left;
}

.conteudo__autora-paragrafo a {
    font-weight: bold;
    color: #674582;
}

.dflex-colunm {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.conteudo__autora-github {
    font-weight: bold;
    color: #674582;
}

/* **** btn **** */

.btn {
    display: flex;
    justify-content: center;
}

.btn a {
    margin-bottom: 45px;
    border-radius: 8px;
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
    color: #ffffff;
    background-color:  #C083B9;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 45px;
    display: inline-block;
}

/* **** rodape **** */

.rodape {
    background-color: #323534;
    padding: 30px;
}

.rodape__navegacao {
    justify-content: space-between;
}

.rodape__menu {
    text-align: center;
}

.rodape__menu li {
    margin-bottom: 8px; 
}

.rodape__icone {
    width: 20px;  
    position: relative;
    bottom: -7.5px;
}

.rodape__cc {
    background-color: #292A2A;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
}

@media (max-width: 1024px) {

    .navegacao__menu {
        justify-content: flex-end;
    }

    .navegacao__menu-lista {
        display: none;
    }
    
    .navegacao__menu-hamburguer {
        display: inherit; 
        width: 32px;
        height: 32px;
    }

    .navegacao__redes-sociais {
        display: none;
    }

    .conteudo__historia-imagem {
        background-position: top;
    }

    .rodape__cc {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .banner {
        height: 40vh;
    }

    .banner__titulo {
        padding-top: 210px;
        font-size: 2.5rem;
    }

    .conteudo__historia-imagem {
        background-position: top;
        height: 320px;
    }

    .rodape__navegacao {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .rodape__menu, .rodape__logo, 
    .rodape__facebook {
        margin-bottom: 20px;
    }

}

@media (max-width: 768px) {

    .conteudo__perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .paragrafo__perfil {
        width: 80%;
        margin: 0;
    }

    .paragrafo__perfil > h3 {
        text-align: center;
        margin-top: 45px;
        font-size: 25px;
    }

    .paragrafo__perfil > p {
        font-size: 20px;
    }

    .conteudo__historia > h3 {
        text-align: center;
        margin-top: 45px;
        font-size: 25px;
    }

    .conteudo__historia > p {
        font-size: 20px;
    }

}

@media (max-width: 500px) {
    .dflex-colunm {
        margin-left: 25px;
    }

    .dflex-colunm p {
        margin-bottom: 8px;
    }
}