html {
    font-size: 16px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Navegação */

.navegacao {
    background-color: #674582;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
    width: 100%;
    position: fixed;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navegacao__logo {
    width: 15vw;
}

.menu__navegacao {
    display: flex;
    align-items: center;
}

.navegacao__links a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8462rem;
    color: #ffffff;
    margin-right: 0.875rem;
}

.navegacao__redes-sociais a {
    margin: 0.625rem;
}

/* Cabeçalho */

.cabecalho {
    background: linear-gradient( rgba(103, 69, 130, 0.56), rgba(103, 69, 130, 0.56)), url(../img/tabata-bg.jpg);
    background-position: top;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cabecalho__titulo {
    color: white;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2%;
}

/* Conteúdo */

main {
    width: 100%;
}

.conteudo {
    width: 100%;
    margin: 0 auto;
}

.conteudo_apresentacao {
    text-align: center;
}

.apresentacao__img-perfil {
    display: inline-block;
    width: 10%;
    border-radius: 6%;
    margin: 0 10px;
}

.apresentacao__trecho {
    display: inline-block;
    width: 32%;
    text-align: left;
    margin: 0% 3%;
    color: #674582;
}

.apresentacao__titulo {
    font-size: 1rem;
    margin: 10% 0;
}

.apresentacao__texto {
    font-size: 1rem;
}

.conteudo_citacao {
    width: 56%;
    margin: 4% auto;
    text-align: center;
    border: 1px solid;
    padding: 25px;
    color: #674582;
    font-weight: bold;
}

/* História */

.conteudo__historia {
    color: #674582;
    width: 56%;
    margin: 0 auto;
}

.historia__titulo {
    font-size: 1rem;
    margin: 2% 0;
}

.historia__texto {
    margin-top: 2%;
    font-size: 1rem;
}

.historia__foto {
    width: 100%;
    margin-top: 2%;
}

/* Autora */

.autora__info {
    background-color: #e4b7e5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.autora__foto {
    width: 15%;
}

.autora__sobre {
    color: #674582;
    font-weight: bold;
    margin-left: 2%;
}

.autora__sobre a {
    text-decoration: none;
    color: #674582;
}

.ver-todas {
    text-align: center;
    padding: 5%;
}

.ver-todas a {
    background-color: #c083b9;
    padding: 12px 35px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

/* Rodapé */

.rodape {
    display: flex;
    flex-direction: column;
}

.rodape-main {
    background-color: #323534;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.rodape__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.75rem;
}

.rodape__links a {
    color: #ffffff;
    text-decoration: none;
    margin: 2px 0;
}

.rodape__logo {
    width: 16%;
}

.rodape-final {
    background-color: #292a2a;
    text-align: center;
    color: #ffffff;
    font-size: 0.5625rem;
    padding: 1%;
}

.fb-m {
    width: 10px;
}

.fb-icon a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.75rem;
}

@media (max-width: 768px) {
    
    .cabecalho {
        background-position: top;
        background-size: cover;
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .cabecalho__titulo {
        font-size: 1.5rem;
        font-weight: 900;
        
    }
}