* {
    margin: 0;
    box-sizing: border-box;
    }

body {
    font-family: 'Montserrat', sans-serif;
    
}

.navegacao {
    background-color: #674582;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navegacao__logo {
    width: 15vw;
}

.navegacao__links {
    margin-right: 20px;
}

.menu__navegacao {
    display: flex;
    align-items: center;    
}

.navegacao__links a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8462rem;
    color: #ffffff;
    margin: 10px;
}

.navegacao__redes-sociais a {
    margin: 5px;
}

.cabecalho {
    background-image: url(../img/tabata-bg.jpg);
    background-size: cover;
    background-position: top;
    min-height: 80vh;
    position: relative;
}

.cabecalho__titulo {
    position: absolute;
    color: white;
    bottom: 7%;
    left: 12%;
    font-size: 2.9rem;
    text-transform: uppercase;
    font-weight: 900;
}

main {
    width: 100%;
}

.conteudo {
    width: 100%;
    margin: 0 auto;
}

.conteudo_apresentacao {
    text-align: center;
}

.apresentacao__img-perfil {
    display: inline-block;
    width: 10%;
    border-radius: 6%; 
    margin: 0 10px; 
}

.apresentacao__trecho {
    display: inline-block;
    width: 40%;
    text-align: left;
    margin: 0% 3%;
    color: #674582;
}

.apresentacao__titulo {
    font-size: 1rem;
    margin: 10% 0;
}

.apresentacao__texto {
    font-size: 0.9375rem;
}

.conteudo_citacao {
    width: 56%;
    margin: 4% auto;
    text-align: center;
    border: 1px solid;
    padding: 25px;
    color: #674582;
    font-weight: bold;
}

.conteudo__historia {
    color: #674582;
    width: 56%;
    margin: 0 auto;
}

.historia__titulo {
    font-size: 1rem;
    margin: 2% 0;
}

.historia__texto {
    margin-top: 2%;
    font-size: 0.9375rem;
}

.historia__foto {
    width: 100%;
    margin-top: 2%;
}

.autora__info {
    background-color: #e4b7e5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%; 
}

.autora__foto {
    width: 15%;
}

.autora__sobre {
    color: #674582;
    font-weight: bold;
    margin-left: 2%;
}

.autora__sobre a {
    text-decoration: none;
}

.ver-todas {
    text-align: center;
    padding: 5%;
}

.ver-todas a {
    background-color: #c083b9;
    padding: 12px 35px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}
 .rodape {
    display: flex;
    flex-direction: column;
 }

.rodape-main {
    background-color: #323534;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}


.rodape__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.75rem;
}


.rodape__links a {
    color: #ffffff;
    text-decoration: none;
    margin: 2px 0;
}

 .rodape__logo {
     width: 16%;
 }

.rodape-final {
    background-color: #292a2a;
    text-align: center;
    color: #ffffff;
    font-size: 0.5625rem;
    padding: 1%;
}

.fb-m {
    width: 10px;
}

.fb-icon a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.75rem;
}