* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px; /* definir uma font-size padrão */
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.navegacao {
    background-color: #a08716;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0,0,0,.2);
    padding: 1.5rem;
    width: 100%;
}
header {
    background-image: url(../img/800px-Beyoncé_Knowles_GMA_Run_the_World.jpg);
    background-repeat: no-repeat;
    

}

