* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #674582;
    padding: 1vw;
    text-transform: uppercase;
    z-index: 99;
    position: fixed;
    font-size: 0.8462rem;
    box-shadow: 0px 5px 5px rgba(65, 63, 63, 0.2);
}

a {
    text-decoration: none;
}
.navigation__logo {
    width: 15vw;
}

.navigation__link a  {
    color: #fff;
    padding: 0 1rem;
}

.navigation__network a {
    padding: 0 0.3rem;
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}