* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #674582;
    line-height: 2.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}


.img-responsive {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

/* NAVEGACAO */
.navegacao {
    background-color: #674582;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px;
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
}


.navegacao__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao__logo {
    max-width: 200px;  
}

.navegacao__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;    
}

.navegacao__menu a,
.redes-sociais a {
    margin-left: 1.5rem;
}

.navegacao__menu-hamburguer {
    display: none;
}




/* CABECALHO */

.cabecalho {
    background: linear-gradient(
        rgba(103, 69, 130, 0.56), 
        rgba(103, 69, 130, 0.56)
      ),url("../img/maria-da-penha-lei-instituto-mulher-fala.jpg");
    margin-top: 79px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;  
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 80%;
    font-size: 50px;   
}


/* INTRODUÇÃO */

 .introducao__intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px; 
}

h3 {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
} 

.introducao__texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.introducao__texto p {
    font-size: 16px;
    margin-left: 50px;
}

.introducao__intro img {
    border-radius: 5%;
}

.introducao__citacao {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    padding: 30px 40px;
    border: 1px solid #63458a;
    width: 100%;
}

/* RESUMO */
.resumo {
    margin: 0 auto; 
}

.resumo h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.resumo__texto {
    font-size: 16px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #63458a;
}

.resumo__img {
    width: 70%;
    
}

/* AUTORA */
.autora {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
}

.autora__info {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #e4b7e5;
   
}

.autora__img  {
    width: 10%;
}

.autora__texto {
    color: #63458a;
    font-size: 16px;
    margin-left: 20px;   
}

/* BOTÃO */
button {
    border-radius: 3px;
    color: #fff;
    background-color: #C083B9;
    font-weight: bold; 
    padding: 2rem 2rem;
    text-transform: uppercase;
    margin-top: 40px;
    border: none;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 40%;

}

/* RODAPÉ */

.rodape {
    background-color: #323534;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 1.3rem;
    padding:3rem;
}

.rodape > img {
    height: 60px;
}

.rodape ul {
    text-align: center;
}

.icone-facebook {
    max-width: 10px;
    position: relative;
    bottom: -3px;
}

.creditos p{
    text-align: center;
    font-size: 0.8rem;
}

.creditos {
    background-color: #292A2A;
    color: #ffffff;
    padding: 0.8rem;
}

<<<<<<< HEAD
/* @media (max-width: 420px) {
=======
/* RESPONSIVO */
@media (max-width: 420px) {
>>>>>>> d8051e601021509764e7d73133e50940371c097b


    .container {
        width: 80%;
    }

    .html {
        font-size: 8px;
    }

    .navegacao__menu-hamburguer {
        display: block;
    }

    .navegacao__menu li {
        font-size: 1rem;
        margin: 2rem;
    }

    .redes-sociais {
        display: none;
    }

    .resumo__img {
        max-width: 300px;
    }

    .cabecalho {
        margin-top: 98px;
        height: 300px;
        /* background-position: -360px 0; */
    }

    .introducao {
        width: 90%;
    }

    . h3 {
        font-size: 18px;
    }
    
    .introducao__texto {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .introducao__citacao{
    font-size: 20px;
    padding: 20px;
    }

    .resumo {
        width: 80%;
    }

    .resumo__img {
        width: 100%;
    }

    .autora__texto {
        font-size: 15px;
    }

    .autora__img {
        width: 40%;
    }

    .autora__info {
    display: flex;
    flex-direction: column;
    }

    buttom {
        margin-left: 28%;
    }

<<<<<<< HEAD
    .rodape__link {
        display: inline-block;
    }

    .rodape__menu {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .rodape__logo img {
        text-align: center;
        width: 30%;
    }

    .rodape a {
        font-size: 10px;
    }


    
} */
=======
 
>>>>>>> d8051e601021509764e7d73133e50940371c097b
